*{
  
    margin:1 px;
    padding:1 px;
    

}
.container{
    height:fit-content;
    width:fit-content;
    background-image: url(ML-MODEL-DEPLOYMENT-USING-FLASK-main\templates\bgpic.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}
.btn{
    cursor: pointer;
    color: brown;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: 2px solid #003333;
    background: transparent;
    text-decoration:none;
    text-align: center;
    font-weight: bold;
    margin:40px 80px;
}